.about-section {
  padding: 120px 150px;
  background: #fafafa;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
}

.about-image img {
  width: 520px;
  transform: translateY(-20px);
}

.about-content {
  max-width: 520px;
}

.about-content h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.about-content h4 {
  font-size: 20px;
  color: #555;
  font-weight: 500;
  margin-bottom: 25px;
}

.about-content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.7;
}

.about-list {
  list-style: none;
  margin-top: 10px;
}

.about-list li {
  font-size: 17px;
  margin: 12px 0;
  color: #333;
}

.about-list li i {
  color: #ff975a;
  margin-right: 10px;
  font-size: 18px;
}


.about-image,
.about-content {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.9s ease;
}

.about-section.show .about-image {
  opacity: 1;
  transform: translateX(0);
}

.about-section.show .about-content {
  opacity: 1;
  transform: translateY(0);
}
.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 40px 80px;
}

.about-image img {
  width: 450px;
  max-width: 100%;
}

.about-content {
  max-width: 550px;
}

/* --- Responsive --- */
@media (max-width: 900px) {
  .about-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .about-content ul {
    text-align: left; 
    margin: auto;
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .about-image img {
    width: 80%;
  }
}
