.experience-section {
  width: 100%;
  background: #f6dcd4;
  padding: 50px 0;
  margin-top: 40px;
  position: relative;
}

.exp-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exp-text h2 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.exp-text p {
  font-size: 15px;
  color: #555;
  margin-top: 5px;
  line-height: 1.6;
}

.exp-btn button {
  background: #ff975a;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 6px 20px rgba(255, 151, 90, 0.4);
}

.exp-btn button:hover {
  background: #ff6f61;
  box-shadow: 0px 10px 28px rgba(255, 111, 97, 0.45);
}

@media (max-width: 900px) {
  .exp-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 26px;
  }
}

