.feedback-section {
  padding: 150px 0;
  text-align: center;
  position: relative;
  background: #fafaff;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
}

.section-subtitle {
  color: #777;
  margin-bottom: 40px;
}

.fb-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;
  z-index: 0;
  animation: floatUpDown 5s ease-in-out infinite;
}

.fb1 {
  width: 40px;
  height: 40px;
  border: 4px solid #f5b28b;
  left: 8%;
  top: 120px;
}

.fb2 {
  width: 55px;
  height: 55px;
  background: #c4f5c7;
  left: 50%;
  top: 80px;
  animation-duration: 7s;
}

.fb3 {
  width: 160px;
  height: 160px;
  border: 6px solid #f5b28b;
  right: -50px;
  top: 10px;
  opacity: 0.2;
  animation: slowRotate 25s linear infinite;
}

.slider-container {
  width: 82%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 200%;
  transition: transform 1s ease;
}

.feedback-page {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}

.feedback-card {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.07);
  text-align: center;

  opacity: 0;
  transform: translateY(70px);
  transition: opacity 1.1s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.feedback-card.show {
  opacity: 1;
  transform: translateY(10px);
}

.feedback-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.12);
}

.quote-icon {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.orange .quote-icon {
  background: #ff975a;
}
.green .quote-icon {
  background: #7fe08b;
}
.red .quote-icon {
  background: #ff7b7b;
}

.feedback-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
}

.feedback-card h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.feedback-card span {
  color: #777;
}

.slider-dots {
  text-align: center;
  margin-top: 25px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #ff975a;
  width: 22px;
  border-radius: 10px;
}

/*RESPONSIVE*/
@media (max-width: 900px) {
  .feedback-card {
    width: 90% !important;
    max-width: 500px;
    margin: 0 auto 30px !important;
    padding: 25px 20px;
    border-radius: 15px;
  }

  .slider {
    width: 600%;
    display: flex;
    transition: transform 0.7s ease;
  }

  .mobile-slide {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
