.footer {
  background: #f8f7f9;
  padding: 80px 0 30px;
  margin-top: 80px;
}
.footer-container {
  width: 1140px;
  margin: auto;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 40px;
}
.footer-col h2,
.footer-col h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-col p {
  color: #666;
  margin: 8px 0;
}
.footer-col a {
  display: block;
  margin: 8px 0;
  color: #666;
  text-decoration: none;
  transition: 0.3s;
}
.footer-col a:hover {
  color: #ff6f61;
  transform: translateX(5px);
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.icons button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #ff975a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: 0.3s;
}
.icons button:hover {
  background: #ff6f61;
  box-shadow: 0 4px 15px rgba(255, 111, 97, 0.3);
}
.footer-line {
  width: 100%;
  height: 1px;
  background: #e7e7e7;
  margin: 40px 0;
  border: none;
}
.rights {
  text-align: center;
  color: #777;
  font-size: 15px;
}
.rights span {
  color: #ff975a;
  font-weight: bold;
}
