@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600,0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding-top: 100px;
  overflow-x: hidden;
}

/* Typography */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* BACKGROUND SHAPES */

.bg-shape {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.layer1 {
  width: 900px;
  height: 800px;
  background: #f7e6dc;
  top: -400px;
  left: -500px;
}

.layer2 {
  width: 600px;
  height: 600px;
  background: #f3dcd1;
  top: -250px;
  left: -300px;
}

/* PRELOADER  */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.dots {
  display: flex;
  gap: 12px;
  animation: slide 1.5s infinite ease-in-out;
}

.dots span {
  width: 12px;
  height: 12px;
  background: #ff975a;
  border-radius: 50%;
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(-40px);
    opacity: 0.2;
  }
  50% {
    transform: translateX(40px);
    opacity: 1;
  }
  100% {
    transform: translateX(-40px);
    opacity: 0.2;
  }
}

/* SHAPES BEHIND HEADER AND HERO  */
.bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: 1;
  pointer-events: none;
  opacity: 0.5;
}

.layer1 {
  background: url("../imgs/bg1.png") no-repeat left top / cover;
}

.layer2 {
  background: url("../imgs/bg2.png") no-repeat left top / cover;
}

.hero .left-side,
header {
  position: relative;
  z-index: 5;
}

#scrollTop:hover {
  background: #ff6f61;
  box-shadow: 0px 10px 25px rgba(255, 111, 97, 0.4);
}

#scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: #ff975a;
  box-shadow: 0px 5px 15px rgba(255, 150, 90, 0.4);
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
