.pricing-section {
  padding: 140px 0;
  text-align: center;
}

.pricing-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.price-card {
  width: 330px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;

  opacity: 0;
  transform: translateY(90px);
  transition: opacity 1.2s ease, transform 1.8s ease;
}

.price-card.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.price-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.price {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price span {
  font-size: 22px;
  color: gray;
}

.price small {
  font-size: 15px;
  color: gray;
}

.price-card ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
}

.price-card ul li {
  color: #555;
  margin: 10px 0;
}

.price-card button {
  padding: 12px 35px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.35s ease;
}

.price-card.orange button {
  background: #ff975a;
}
.price-card.green button {
  background: #7fe08b;
}
.price-card.red button {
  background: #ff7b7b;
}

.price-card.orange:hover {
  background: #fff4ec;
  transform: translateY(-12px);
  box-shadow: 0 12px 35px rgba(255, 150, 90, 0.35);
}

.price-card.green:hover {
  background: #e9ffe9;
  transform: translateY(-12px);
  box-shadow: 0 12px 35px rgba(120, 230, 120, 0.35);
}

.price-card.red:hover {
  background: #ffe9e9;
  transform: translateY(-12px);
  box-shadow: 0 12px 35px rgba(255, 120, 120, 0.35);
}

.price-card:hover button {
  transform: scale(1.06);
}

/*RESPONSIVE */

@media (max-width: 992px) {
  .pricing-container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 90% !important;
  }

  .price-card {
    width: 100% !important;
    max-width: 380px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .pricing-section {
    padding: 100px 0;
  }

  .pricing-container {
    width: 95% !important;
  }

  .price-card {
    padding: 35px 25px;
    max-width: 360px;
  }

  .price {
    font-size: 34px;
  }

  .price span {
    font-size: 18px;
  }
}
