.portfolio-section {
  padding: 50px 0;
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
}

.section-subtitle {
  margin-top: 10px;
  color: #777;
  font-size: 16px;
}

/* Filter Buttons */
.filter-buttons {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filter-btn {
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: #ff914d;
  color: white;
}

/* Grid Layout */
.portfolio-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Portfolio Card */
.portfolio-item {
  background: white;
  border-radius: 12px;
  padding-bottom: 20px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
}

/* Image Box */
.portfolio-img {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.portfolio-img img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Overlay */
.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: top 0.5s ease;
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 12px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.icon {
  width: 45px;
  height: 45px;
  background: #ff914d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  transition: 0.3s ease;
}

.icon:hover {
  background: #ff7a2f;
}

.portfolio-item:hover .portfolio-img img {
  transform: scale(1.12);
}

.portfolio-item:hover .overlay {
  top: 0;
}

.portfolio-item:hover .icons {
  opacity: 1;
}

.portfolio-item h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.portfolio-item:hover h3 {
  color: #ff914d;
}

.portfolio-item p {
  color: gray;
  margin-top: 5px;
}

/*  Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.portfolio-item.show {
  opacity: 1;
  pointer-events: auto;
  animation: fadeUp 0.35s ease forwards;
}

.portfolio-item.hide {
  display: none;
}

@media (max-width: 992px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 20px; 
  }

  .portfolio-item {
    width: 100%;
    max-width: 330px; 
    margin: 0 auto 25px auto; 
    border-radius: 16px;
  }

  .portfolio-img img {
    height: 220px;
    object-fit: cover;
  }

  .filter-buttons {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter-btn {
    padding: 8px 22px;
    font-size: 14px;
  }
}
