.services-section {
  text-align: center;
  padding: 100px 0;
  background: #fafafa;
}

.services-title {
  font-size: 40px;
  font-weight: 700;
}

.services-sub {
  color: #777;
  margin-top: 8px;
  font-size: 18px;
}

/* Steps Line */
.steps-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 60px 0;
}

.step {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #ffcca8;
  color: #ff8f47;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: 0.3s ease;
}

.line {
  width: 220px;
  height: 2px;
  background: #ffdcc4;
}

/* Services Cards */
.services-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.service-card {
  width: 330px;
  padding: 40px 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  transition: 0.4s;
  border: 3px solid transparent;
}

.service-card img {
  width: 120px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-card p {
  color: #777;
  font-size: 15px;
  line-height: 1.6;
}

.service-card:hover {
  transform: translateY(18px);
  background: #ffe8d9;
  border-color: #ff9f5b;
  box-shadow: 0 12px 40px rgba(255, 150, 90, 0.3);
}

.active-step {
  background: #ff8f47 !important;
  color: white !important;
  border-color: #ff8f47 !important;
}

/*Responsive */

@media (max-width: 992px) {
  .steps-line {
    display: none !important;
  }
  /* العنوان والمسافات */
  .services-section {
    padding: 70px 20px;
  }

  /* الخطوات تتحول لعمود */
  .steps-line {
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
  }

  .line {
    width: 2px !important;
    height: 80px !important;
  }

  /* الكروت تحت بعض */
  .services-cards {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  .service-card {
    width: 90% !important;
    max-width: 350px;
  }
}

/* موبايل صغير جدًا */
@media (max-width: 600px) {
  .services-title {
    font-size: 30px;
  }
  .services-sub {
    font-size: 16px;
  }
  .step {
    width: 48px;
    height: 48px;
    font-size: 19px;
  }
}
