.subscribe {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  padding: 0 20px;
}

.subscribe-box {
  width: 100%;
  max-width: 1140px;
  background: #f7dcd3;
  padding: 40px 50px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.sub-text h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.sub-text p {
  color: #777;
  font-size: 15px;
}

.sub-form {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sub-form input {
  padding: 15px 25px;
  width: 300px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: white;
  font-size: 15px;
}

.sub-form button {
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  background: #ff975a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(255, 150, 90, 0.4);
}

.sub-form button:hover {
  background: #ff6f61;
  box-shadow: 0 8px 20px rgba(255, 111, 97, 0.4);
}


/*   RESPONSIVE  */
@media (max-width: 900px) {

  .subscribe-box {
    flex-direction: column;      
    text-align: center;
    padding: 35px 25px;
    gap: 25px;
  }

  .sub-text h2 {
    font-size: 24px;
  }

  .sub-text p {
    font-size: 14px;
  }

  .sub-form {
    flex-direction: column;      
    width: 100%;
    gap: 15px;
  }

  .sub-form input {
    width: 100%;                 
    max-width: 500px;
  }

  .sub-form button {
    width: 100%;                 
    max-width: 280px;
  }
}

@media (max-width: 480px) {
  .subscribe-box {
    padding: 28px 18px;
  }

  .sub-text h2 {
    font-size: 22px;
  }

  .sub-form button {
    max-width: 100%;
  }
}
