header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent; 
  transition: 0.3s ease;
  z-index: 20; 
}

header .logo {
  position: relative;
  z-index: 25;
  color: gray;
}

header .logo span{
  color: orange;
}

header.scroll-active {
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar li {
  display: inline-block;
  margin: 0 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 25; 
}

.navbar li.active {
  color: orange;
}

header.scroll-active ~ .hero .hero-circle-big {
  opacity: 0.08;
}

.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 1000;
  color: #ff975a;
  background: white;
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 150, 90, 0.4);
  transition: 0.3s ease;
}

.menu-btn:hover {
  box-shadow: 0px 6px 15px rgba(255, 150, 90, 0.6);
}

@media (max-width: 900px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 25px;
    transition: 0.4s ease;
    z-index: 900;
  }

  .menu-btn {
    display: block;
  }

  header .navbar li {
    display: block;
    font-size: 18px;
  }

  .navbar.active {
    right: 0;
  }
}
